* {font-size:12px}
body{margin-left:10px}
.head-row{background-color:#1bbba4;color:#fff}
.custom-link{
    cursor: pointer;
    color: cadetblue;
    text-decoration: underline;
}

#goback{
    margin:5px;
}


.pdfobject-container { height: 30rem; border: 1rem solid rgba(0,0,0,.1); }
